body {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    padding: 5px;
}

#passwordDesc {
    padding: 15px;
}

.formLine {
    padding: 1%;
}

div {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    display: block;
}

.SignUpForm {
    display: inline-grid;
    height: 70vh;
    width: 100%;
}

.newestPost {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90%;
    height: 100px;
}